.container-createCategory {

  transition: 0.5s;
  background-color: #CCD5AE;
  width: calc(100% );
  z-index: 999; 
  height: 100vh;
    
}

.container-createCategory .form-label {
  margin-top: 20px;
}
.container-createCategory .justify-content-center{
  padding-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.container-createCategory .form-control {
  width: 100%;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  line-height: 1;
  border-radius: 10px;
}
.container-createCategory .btn {
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
}
.container-createCategory .btn-save {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #6C5552;
  background-color: #6C5552;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.container-createCategory .btn-save:hover {
  background-color: #fff;
  color: #4E3636;
  border: #4E3636 1px solid;
}

.container-createCategory .mb-3 {
  margin-bottom: 3px;
}

.container-createCategory .btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.container-createCategory .btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.container-createCategory .btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.container-createCategory .btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.container-createCategory .form-select {
  width: 20%;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  line-height: 1;
  border-radius: 10px;
}

.container-createCategory .float-end {
  float: none;
  display: block;
  text-align: right;
  margin-top: 10px;
}
.container-createCategory input[type=text],.container-createCategory textarea{
  
    width: 610px !important;
  }
  .container-createCategory input[type=file]{
    width: 220px !important;
  }


@media only screen and (max-width: 971px) {
 
  .container-createCategory input[type=text],.container-createCategory textarea{
    width: 480px !important;
  
  }
  .container-createCategory input[type=file]{
    width: 220px !important;
  }
}
@media only screen and (max-width: 950px) {
 
  .container-createCategory input[type=file]{
    width: 220px !important;
  }
}

@media only screen and (max-width: 800px) {

.container-createCategory input[type=text],.container-createCategory textarea{
  width: 390px !important;
}
.container-createCategory input[type=file]{
  width: 220px !important;
 
}
}
@media only screen and (max-width: 614px) {

.container-createCategory input[type=text],.container-createCategory textarea{
  width: 350px !important;

}
.container-createCategory input[type=file]{
  width: 220px !important;
  
}
}
@media only screen and (max-width: 576px) {

.container-createCategory input[type=text],.container-createCategory textarea{
  width: 320px !important;
}
.container-createCategory input[type=file]{
  width: 220px !important;
  
}
}
@media only screen and (max-width: 544px) {

.container-createCategory input[type=text],.container-createCategory textarea{
  width: 300px !important;

}
.container-createCategory input[type=file]{
  width: 220px !important;
  
}
}


@media only screen and (max-width: 523px) {

  .container-createCategory input[type=text],.container-createCategory textarea{
    width: 280px !important;
  
  }
  
  }
  @media only screen and (max-width: 504px) {
  
  .container-createCategory input[type=text],.container-createCategory textarea{
    width: 250px !important;
  
  }
  
  }
  @media only screen and (max-width: 473px) {
  
  .container-createCategory input[type=text],.container-createCategory textarea{
    width: 220px !important;
  
  }
}